@import "src/styles/mixims.scss";

.match {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  
    input {
      display: none;
    }
  
    &:last-child {
      &.selected {
        label {
          .circle {
            background: rgba($secondary-color, 0.2);
          }
        }
      }
      label {
        .circle {
          background: rgba($secondary-color, 0);
          &::before {
            content: "";
            position: absolute;
            @include circle($secondary-color, 10px, 2);
          }
        }
      }
    }
  
    &.selected {
      .circle {
        background: rgba($danger-color, 0.2);
        position: relative;
        &::before {
          content: "";
          position: absolute;
          @include circle($danger-color, 10px, 2);
        }
      }
    }
  
    &__data {
      display: flex;
      
      .circle {
        @include circle($danger-color, 18px);
        &::before {
          content: "";
          position: absolute;
          @include circle($danger-color, 10px, 2);
        }
      }
    }
  
    &.selected {
      opacity: 1;
    }
  
    opacity: 0.5;
    &__information {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 7rem;
      position: relative;
    }
  
    .opponents {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: space-evenly;
      width: 21rem;
      @media only screen and (max-width: $md-size) {
        display: none;
      }
    }
  }
  
  #dot-slider {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    
    &::before {
      content: "";
      width: 2px;
      height:  calc(100% * (4 / 5));
      background: $danger-color;
      position: absolute;
      left: 6.4rem;
      top: 5.6rem;
      z-index: 0;
    }
  }
  